@page "/"
@inject PeopleContext db

<PageTitle>Index</PageTitle>

Welcome to your new app - People.

@*<SurveyPrompt Title="How is Blazor working for you?" />*@

<h2>Počet lidí v db</h2>

<div>
	@if (count == null)
	{
		<div>Loading...</div>
	}
	else
	{
		<div>V Db máme @count lidí.</div>
	}
</div>

@code {
	int? count = null;

	protected override void OnInitialized()
	{
		count = db.Persons.Count();

	}
}